<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <!--<link rel="stylesheet" href="{% static 'css/base_night_mode.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body class="text-bg-secondary">
    <!--Cabecera-->
    <header class="text-bg-dark">
        <!--Titulo-->
        <h1>TecnoFind</h1>
        <!--Navegacion-->
        <nav class="nav">
            <ul class=" nav nav-tabs nav-justified">
                <!-- Portátiles -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="portatilDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Portátiles
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="portatilDropdown">
                        <li>
                            <a class="dropdown-item" href="{% url 'dispositivos:formulario_portatil' %}">Formulario para elegir tu portátil</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'dispositivos:listar_dispositivos' tipo='portatiles' %}">Todos los portátiles</a>
                        </li>
                    </ul>
                </li>
                <!-- Móviles -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="movilDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Móviles
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="movilDropdown">
                        <li>
                            <a class="dropdown-item" href="{% url 'dispositivos:formulario_movil' %}">Formulario para elegir tu móvil</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'dispositivos:listar_dispositivos' tipo='moviles' %}">Todos los móviles</a>
                        </li>
                    </ul>
                </li>
                <!-- Tablets -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="tabletDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Tablets
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="tabletDropdown">
                        <li>
                            <a class="dropdown-item" href="{% url 'dispositivos:formulario_tablet' %}">Formulario para elegir tu tablet</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'dispositivos:listar_dispositivos' tipo='tablets' %}">Todas las tablets</a>
                        </li>
                    </ul>
                </li>
                <!--monitores-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="monitorDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Monitores
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="monitorDropdown">
                        <li>
                            <a class="dropdown-item" href="{% url 'dispositivos:formulario_monitor' %}">Formulario para elegir tu monitor</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'dispositivos:listar_dispositivos' tipo='monitores' %}">Todos los monitores</a>
                        </li>
                    </ul>
                </li>
                <!--Teclados-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="tecladoDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Teclados
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="tecladoDropdown">
                        <li>
                            <a class="dropdown-item" href="{% url 'dispositivos:formulario_teclado' %}">Formulario para elegir tu teclado</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'dispositivos:listar_dispositivos' tipo='teclados' %}">Todos los teclados</a>
                        </li>
                    </ul>
                </li>
                <!--Ratones-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="ratonDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Ratones
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="ratonDropdown">
                        <li>
                            <a class="dropdown-item" href="{% url 'dispositivos:formulario_raton' %}">Formulario para elegir tu ratón</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'dispositivos:listar_dispositivos' tipo='ratones' %}">Todos los ratones</a>
                        </li>
                    </ul>
                </li>
                <!--Auriculares-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="auricularDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Auriculares
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="auricularDropdown">
                        <li>
                            <a class="dropdown-item" href="{% url 'dispositivos:formulario_auricular' %}">Formulario para elegir tus auriculares</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'dispositivos:listar_dispositivos' tipo='auriculares' %}">Todos los auriculares</a>
                        </li>
                    </ul>
            </ul>
        </nav>
    </header>
    <!--Cuerpo de la pagina-->
    <div class="mainContain container-fluid vh-100 d-flex align-items-center justify-content-center bg-secondary">
        {% block content %} {% endblock %}
    </div>
    <!--Footer-->
    <footer class="fot bg-dark text-white py-4">
        <div class="col-md-4">
            <!--Navegacion inferior-->
            <nav class="navbar navbar-expand-sm  navbar-dark">
                <ul class="navbar-nav list-unstyledd">
                    <li class="nav-item">
                        <a href="" class="nav-link text-white text-decoration-none">
                            Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link text-white text-decoration-none">
                            Privacidad</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="text-center mt-4">
            <h6 class="copy">&copy; Todos los derechos reservados - Dragonf-j - {{ year }}</h6>
        </div>
    </footer>
</body>
</html>