<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base_light_mode.css' %}">

</head>
<body>
    <header class="Cab">
        <h1>TecnoFind</h1>
        <input type="button" value="Portátiles">
        <input type="button" value="Moviles">
        <input type="button" value="Ratones">
    </header>
</body>
</html>